.card{

  border:1px solid brown;
  background-color:lightsalmon;
  border-radius: 10px;
  box-shadow: 5px 5px 5px yellowgreen;
  padding: 30px;
  margin: 15px;
  text-align: center;
  display: inline-block;
  

}


.card .card-img{

 max-width: 700%;
 max-height: max-content;
 border-radius: 50%;
 color: brown;


}